📦 Dependências do Projeto

Este projeto utiliza os seguintes pacotes Python:

langchain-groq
groq
langchain
python-dotenv
streamlit
yfinance
pandas
datetime (biblioteca padrão do Python)
json (biblioteca padrão do Python)
feedparser

Caso algum pacote não esteja instalado, utilize:
    pip install <nome-do-pacote>

▶️ Como executar o aplicativo:
    Na linha 20 do arquivo app.py inclua a chave da API key
        "client = Groq(api_key="digite sua API_Key")"

    Ative o ambiente virtual dentro da pasta app:
        source venv/bin/activate


    Execute o Streamlit:
        streamlit run streamlit.py

🚀 Possíveis melhorias futuras:
    Adicionar um sistema de cache local, reduzindo chamadas repetidas ao Groq 
    e otimizando custos.

    Evoluir o arquivo company_map.json para um banco de dados dinâmico, 
    atualizado automaticamente via API oficial do governo.