langchain-groq
groq
langchain
python-dotenv
streamlit
yfinance
pandas
feedparser

# 📌 Como executar o aplicativo:
# 1. Na linha 20 do arquivo app.py inclua a chave da API:
#       client = Groq(api_key="digite sua API_Key")

# 2. Ative o ambiente virtual dentro da pasta app:
#       source venv/bin/activate

# 3. Execute o comando abaixo para installar os pacotes necessarios
#       pip install -r requirements.txt

# 4. Execute o Streamlit:
#       streamlit run streamlit.py

# 🚀 Possíveis melhorias futuras:
# - Adicionar um sistema de cache local, reduzindo chamadas repetidas ao Groq e otimizando custos.
# - Evoluir o arquivo company_map.json para um banco de dados dinâmico, atualizado automaticamente via API oficial do governo.